<div class="file-path">
    <% if (currentUser?.id != currentFolder.ownerId) { %>
        <div class="shared-by">Folder shared by <%= currentUser.name %> (@<%= currentUser.username %>)</div>
    <% } %>
    <span>Path:</span>
    <% if (currentUser?.id == currentFolder.ownerId) { %>
        <span> / </span>
        <a href="/<%= currentFolder.root %>/root<%= editItem.editType=="move" ? `?editType=${editItem.editType}&editItemId=${editItem?.id}&editItemType=folder` : '' %>"><%= path[0].name %></a>
    <% } %>
    <% path.slice(1).forEach((folder) => { %>
        <span> / </span>
        <a href="/<%= folder.root %>/<%= folder.id %><%= editItem.editType=="move" ? `?editType=${editItem.editType}&editItemId=${editItem?.id}&editItemType=folder` : '' %>"><%= folder.name %></a>
    <% }) %>
</div>
