<div class="file-path">
    <% if (currentUser?.id != currentFolder.ownerId) { %>
        <div class="shared-by">Folder shared by <%= currentUser.name %> (@<%= currentUser.username %>)</div>
    <% } %>
    <span>Path:</span>
    <% if (currentUser?.id == currentFolder.ownerId) { %>
        <% if (rootFolder == 'folder') { %>
            <a href="/folder/root<%= editItem.editType=="move" ? `?editType=${editItem.editType}&editItemId=${editItem?.id}&editItemType=folder` : '' %>">Home</a>
            <span> / </span>
        <% } %>
        <% if (rootFolder == "trash") { %>
            <a href="/trash/root">Trash</a>
            <span> / </span>
        <% } %>
        <% if (rootFolder == "share") { %>
            <a href="/share/root">Share</a>
            <span> / </span>
        <% } %>
    <% } %>
    <% path.slice(1).forEach((folder) => { %>
        <a href="/<%= rootFolder %>/<%= folder.id %><%= editItem.editType=="move" ? `?editType=${editItem.editType}&editItemId=${editItem?.id}&editItemType=folder` : '' %>"><%= folder.name %></a>
    <% }) %>
</div>
