<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folder</title>
</head>
<body>
    <h1>Folders</h1>
    <% if (folders.length < 1) { %>
    <p>no folders</p>
    <% } else { %>
    <ul>
        <% folders.forEach(folder => {  %>
        <li><a href="/folder/<%= folder.id %>"><%= folder.name %></a></li>
        <form action="/delete-folder/<%= folder.id %>" method="post">
            <button type="submit">Delete</button>
        </form>
        <% }) %>
    </ul>
    <% } %>

    <h1>Files</h1>
    <% if (files.length < 1) { %>
    <p>no files</p>
    <% } else { %>
    <ul>
        <% files.forEach(file => {  %>
        <li><%= file.name %></li>
        <form action="/download/<%= file.id %>" method="post">
            <button type="submit">Download</button>
        </form>
        <form action="/delete-file/<%= file.id %>" method="post">
            <button type="submit">Delete</button>
        </form>
        <% }) %>
    </ul>
    <% } %>
    <form action="/addfolder" method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <input type="hidden" name="owner" value="<%= currentUser.id %>">
        <input type="hidden" name="folder" value="<%= currentFolder.id %>">
        <button>Add folder</button>
    </form>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Upload file</label>
        <input type="file" id="file" name="file">
        <input type="hidden" name="folder" value="<%= currentFolder.id %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
