<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <div class="sidebar">
            <a class="btn d-block" href="/folder/root">Home</a>
            <a class="btn d-block" href="/folder/trash">Trash</a>
            <form class="add-data" action="/addfolder" method="post">
                <label for="name">Add folder</label>
                <input type="text" name="name" id="name">
                <input type="hidden" name="owner" value="<%= currentUser.id %>">
                <input type="hidden" name="currentFolder" value="<%= currentFolder.id %>">
                <button class="btn" type="submit">Add</button>
            </form>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label class="btn w-100" for="file">Upload file</label>
                <input type="file" id="file" name="file" onchange="form.submit()">
                <input type="hidden" name="folder" value="<%= currentFolder.id %>">
            </form>
        </div>
        <div class="file-container">
            <div class="file-path">
                <span>Path:</span>
                <% if (path[0].name=="root") { %>
                    <a href="/folder/root<%= editType=="move" ? `?editType=${editType}&editItemId=${editItem.id}&editItemType=${editItemType}` : '' %>">Home</a>
                <% } %>
                <% if (path[0].name=="trash") { %>
                    <a href="/folder/trash">Trash</a>
                <% } %>
                <% path.slice(1).forEach((folder, index) => { %>
                    <span> / </span>
                    <a href="/folder/<%= folder.id %><%= editType=="move" ? `?editType=${editType}&editItemId=${editItem?.id}&editItemType=folder` : '' %>"><%= folder.name %></a>
                <% }) %>
            </div>
            <div>
            <% if (editType == "move") { %>
                <form class="moving-item" action="/move-<%= editItemType %>/<%= editItem.id %>" method="post">
                    <span>Moving <%= editItemType %> <%= editItem.name %></span>
                    <input type="hidden" name="currentFolder" value="<%= currentFolder.id %>">
                    <div>
                        <button class="btn--small" type="submit">Move here</button>
                        <a class="btn--small" href="/folder/<%= currentFolder.id %>">Cancel</a>
                    </div>
                </form>
            <% } %>
            <% if (folders.length < 1 && files.length < 1) { %>
            <span class="empty">This folder is empty</span>
            <% } else { %>
                <table>
                    <thead>
                        <tr>
                            <td class="column-name">Name</td>
                            <td class="column-updated">Last updated</td>
                            <td class="column-size">Size</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (folders.length > 0) { %>
                            <% folders.forEach(folder => {  %>
                            <tr class="folder-row">
                                <td class="flex-container">
                                    <span class="icon--folder"></span>
                                    <% if (editItem?.id == folder.id && editType == "rename") { %>
                                        <form class="edit-form" action="/rename-folder/<%= folder.id %>" method="post">
                                            <input type="text" id="name" name="name" value="<%= folder.name %>">
                                            <input type="hidden" name="currentFolder" value="<%= currentFolder.id %>">
                                            <button class="btn--small" type="submit">Rename</button>
                                            <a class="btn--small" href="/folder/<%= currentFolder.id %>">Cancel</a>
                                        </form>
                                    <% } else { %>
                                    <a class="item-name folder-link" href="/folder/<%= folder.id %><%= editItem!=null ? `?editType=${editType}&editItemId=${editItem.id}&editItemType=${editItemType}` : '' %>"><%= folder.name %></a>
                                    <% } %>
                                </td>
                                <td>01/01/2026</td>
                                <td><%= filesize(folder.size) %></td>
                                <td class="btn-container">
                                    <form action="/delete-folder/<%= folder.id %>" method="post">
                                        <button class="btn-icon icon--download" type="submit" title="Download Folder"></button>
                                    </form>
                                    <% if (path[0].name=="trash") { %>
                                    <form action="/delete-folder/<%= folder.id %>" method="post">
                                        <button class="btn-icon icon--delete" type="submit" title="Delete Folder"></button>
                                    </form>
                                    <form action="/restore-folder/<%= folder.id %>" method="post">
                                        <button class="btn-icon icon--restore" type="submit" title="Restore Folder"></button>
                                    </form>
                                    <% } else { %>
                                    <a href="/folder/<%= currentFolder.id %>?editType=rename&editItemId=<%= folder.id %>&editItemType=folder">
                                        <span class="btn-icon icon--rename" title="Rename Folder"></span>
                                    </a>
                                    <a href="/folder/<%= currentFolder.id %>?editType=move&editItemId=<%= folder.id %>&editItemType=folder">
                                        <span class="btn-icon icon--move" title="Move Folder"></span>
                                    </a>
                                    <form action="/delete-folder/<%= folder.id %>" method="post">
                                        <button class="btn-icon icon--share" type="submit" title="Share Folder"></button>
                                    </form>
                                    <form action="/trash-folder/<%= folder.id %>" method="post">
                                        <button class="btn-icon icon--delete" type="submit" title="Move Folder to Trash"></button>
                                        <input type="hidden" name="currentFolder" value="<%= currentFolder.id %>">
                                    </form>
                                    <% } %>
                                </td>
                            </tr>
                            <% }) %>
                        <% } %>
                        <% if (files.length > 0) { %>
                            <% files.forEach(file => {  %>
                            <tr>
                                <td class="flex-container name-cell">
                                    <span class="icon--file"></span>
                                    <% if (editItem?.id == file.id && editType == "rename") { %>
                                    <form class="edit-form" action="/rename-file/<%= file.id %>" method="post">
                                        <input type="text" id="name" name="name" value="<%= file.name %>">
                                        <input type="hidden" name="currentFolder" value="<%= currentFolder.id %>">
                                        <button class="btn--small" type="submit">Rename</button>
                                        <a class="btn--small" href="/folder/<%= currentFolder.id %>">Cancel</a>
                                    </form>
                                    <% } else { %>
                                    <span class="item-name"><%= file.name %></span>
                                    <% } %>
                                </td>
                                <td>01/01/2026</td>
                                <td><%= filesize(file.size) %></td>
                                <td class="btn-container">
                                    <form action="/download/<%= file.id %>" method="post">
                                        <button class="btn-icon icon--download" type="submit" title="Download File"></button>
                                    </form>
                                    <% if (path[0].name=="trash") { %>
                                    <form action="/delete-file/<%= file.id %>" method="post">
                                        <button class="btn-icon icon--delete" type="submit" title="Delete File"></button>
                                    </form>
                                    <form action="/restore-file/<%= file.id %>" method="post">
                                        <button class="btn-icon icon--restore" type="submit" title="Restore File"></button>
                                    </form>
                                    <% } else { %>
                                    <a href="/folder/<%= currentFolder.id %>?editType=rename&itemId=<%= file.id %>">
                                        <span class="btn-icon icon--rename" title="Rename File"></span>
                                    </a>
                                    <a href="/folder/<%= currentFolder.id %>?editType=move&editItemId=<%= file.id %>&editItemType=file">
                                        <span class="btn-icon icon--move" title="Move File"></span>
                                    </a>
                                    <form action="/delete-file/<%= file.id %>" method="post">
                                        <button class="btn-icon icon--share" type="submit" title="Share File"></button>
                                    </form>
                                    <form action="/trash-file/<%= file.id %>" method="post">
                                        <button class="btn-icon icon--delete" type="submit" title="Move File to Trash"></button>
                                        <input type="hidden" name="currentFolder" value="<%= currentFolder.id %>">
                                    </form>
                                    <% } %>

                                </td>
                            </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
            </div>
        </div>
    </div>
</body>
</html>
