<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
        <div class="sidebar">
            <form class="add-data" action="/addfolder" method="post">
                <label for="name">Add folder</label>
                <input type="text" name="name" id="name">
                <input type="hidden" name="owner" value="<%= currentUser.id %>">
                <input type="hidden" name="currentFolder" value="<%= currentFolder.id %>">
                <button class="btn" type="submit">Add</button>
            </form>
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label class="btn w-100" for="file">Upload file</label>
                <input type="file" id="file" name="file" onchange="form.submit()">
                <input type="hidden" name="folder" value="<%= currentFolder.id %>">
            </form>
            <a class="btn w-100" href="/trash">Trash</a>
        </div>
        <div class="file-container">
            <%- include("partials/path.ejs") %>
            <% if (folders.length < 1 && files.length < 1) { %>
            <span class="empty">This folder is empty</span>
            <% } else { %>
                <table>
                    <thead>
                        <tr>
                            <td class="column-name">Name</td>
                            <td class="column-updated">Last updated</td>
                            <td class="column-size">Size</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (folders.length > 0) { %>
                            <% folders.forEach(folder => {  %>
                            <tr class="folder-row">
                                <td class="flex-container">
                                    <span class="icon--folder"></span>
                                    <a href="/folder/<%= folder.id %>"><%= folder.name %></a>
                                </td>
                                <td>01/01/2026</td>
                                <td>321kb</td>
                                <td class="btn-container">
                                    <form action="/delete-folder/<%= folder.id %>" method="post">
                                        <button class="btn-icon icon--download" type="submit" title="Download Folder"></button>
                                    </form>
                                    <form action="/delete-folder/<%= folder.id %>" method="post">
                                        <button class="btn-icon icon--rename" type="submit" title="Rename Folder"></button>
                                    </form>
                                    <form action="/delete-folder/<%= folder.id %>" method="post">
                                        <button class="btn-icon icon--share" type="submit" title="Share Folder"></button>
                                    </form>
                                    <form action="/delete-folder/<%= folder.id %>" method="post">
                                        <button class="btn-icon icon--delete" type="submit" title="Delete Folder"></button>
                                    </form>

                                </td>
                            </tr>
                            <% }) %>
                        <% } %>
                        <% if (files.length > 0) { %>
                            <% files.forEach(file => {  %>
                            <tr>
                                <td class="flex-container">
                                    <span class="icon--file"></span>
                                    <%= file.name %>
                                </td>
                                <td>01/01/2026</td>
                                <td>321kb</td>
                                <td class="btn-container">
                                    <form class="download-form" action="/download/<%= file.id %>" method="post">
                                        <button class="btn-icon icon--download" type="submit" title="Download File"></button>
                                    </form>
                                    <form class="delete-form" action="/delete-file/<%= file.id %>" method="post">
                                        <button class="btn-icon icon--rename" type="submit" title="Rename File"></button>
                                    </form>
                                    <form class="delete-form" action="/delete-file/<%= file.id %>" method="post">
                                        <button class="btn-icon icon--share" type="submit" title="Share File"></button>
                                    </form>
                                    <form class="delete-form" action="/delete-file/<%= file.id %>" method="post">
                                        <button class="btn-icon icon--delete" type="submit" title="Delete File"></button>
                                    </form>

                                </td>
                            </tr>
                            <% }) %>
                        <% } %>
                    </tbody>
                </table>
            <% } %>
        </div>
    </div>
</body>
</html>
