<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="flex-container">
        <div class="sidebar">
            <a class="btn" href="/folder">Home</a>
            <form class="add-data" action="/addfolder" method="post">
                <label for="folder">Add folder</label>
                <input type="text" name="folder" id="name">
                <input type="hidden" name="owner" value="<%= currentUser.id %>">
                <input type="hidden" name="folder" value="<%= currentFolder.id %>">
                <button class="btn">Add</button>
            </form>
            <form class="add-data" action="/upload" method="post" enctype="multipart/form-data">
                <label for="file">Upload file</label>
                <input type="file" id="file" name="file">
                <input type="hidden" name="folder" value="<%= currentFolder.id %>">
                <button type="submit">Submit</button>
            </form>
            <a class="btn" href="/trash">Trash</a>
        </div>
    <% if (folders.length < 1) { %>
    <p>no folders</p>
    <% } else { %>
    <ul>
        <% folders.forEach(folder => {  %>
        <li><a href="/folder/<%= folder.id %>"><%= folder.name %></a></li>
        <form action="/delete-folder/<%= folder.id %>" method="post">
            <button type="submit">Delete</button>
        </form>
        <% }) %>
    </ul>
    <% } %>

    <% if (files.length < 1) { %>
    <p>no files</p>
    <% } else { %>
    <ul>
        <% files.forEach(file => {  %>
        <li><%= file.name %></li>
        <form action="/download/<%= file.id %>" method="post">
            <button type="submit">Download</button>
        </form>
        <form action="/delete-file/<%= file.id %>" method="post">
            <button type="submit">Delete</button>
        </form>
        <% }) %>
    </ul>
    <% } %>
    </div>
</body>
</html>
